<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359735858810-66jv9p5seorp32jkt1g3r3m4qtu5ogl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359735858810-66jv9p5seorp32jkt1g3r3m4qtu5ogl0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>359735858810-s26hh0vokikpadaomivv0pogbl1o9nv4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBl3gfhKxCSAN1eYC48O9Vyt1VaNT-qLCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>359735858810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.questgamerz.daily.planner.schedule.planner.todo.list</string>
	<key>PROJECT_ID</key>
	<string>plannerapp-dgm-256</string>
	<key>STORAGE_BUCKET</key>
	<string>plannerapp-dgm-256.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359735858810:ios:8f12f920df5a26ce33cdc3</string>
</dict>
</plist>